/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #343838;
}

body {
    background-color: #fff;
    font: 13.34px Helvetica, Arial, sans-serif;
    text-align: center;

    width: 700px;
    padding: 10px 30px;

    /* the auto of left right margin centers the content */
    margin: 10px auto;
    /* give a border to body */
    border: 1px solid LightGrey;
}

p {
    margin-bottom: 1em;
    font-size: 115%;
}

h1 {
    font-size: 1.5em;
    color: #1e94d1;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #1e94d1;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.3em;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #1e94d1;
    margin-bottom: 1em;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  margin-bottom: 2em;
}

.title a {
  color: #00b4cc;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

/* for block code */
.post pre {
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: monaco;
    border-width: 1px;
    border-color: #ccc;
    border-style: dashed;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    line-height: 1.3em;
    overflow: auto; 
}

.post code {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: monaco;
    padding: 0em .2em .2em .2em;
    background-color: rgb(244, 244, 244);
}

.post p code {
    font-size: 85%;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
