/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #343838;
}

body {
    background-color: #fff;
    font: 15px Arial, verdana, Helvetica, sans-serif;
    text-align: center;

    width: 700px;
    padding: 10px 30px;

    /* the auto of left right margin centers the content */
    margin: 10px auto;
    /* give a border to body */
    border: 1px solid LightGrey;
}

p {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: verdana, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 1em;
    border-bottom: 2px solid #1e94d1;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.3em;
    border-bottom: 2px solid #1e94d1;
    margin: 1.3em 0 1em 0;
}

h4 {
    font-size: 1.1em;
    border-bottom: 1px solid #1e94d1;
    margin: 1em 0 1em 0;
}

a         { color: #666; }
a:hover   { color: #1e94d1; }
a:visited { color: #777; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.cats {
    margin: 0 0 1em 0em;
    list-style-type: none;
}

.cats .catname {
    display: block;
    font-size: 110%;
    font-weight: bold;
    color: #666;
    border: 1px solid #1e94d1;
    border-left: 5px solid #1e94d1;
    padding: 0 .3em;
    margin-bottom: 1em;
}

.posts {
    margin-bottom: 2em;
    font-size: 120%;
    line-height: 250%;
    margin: 0 0 1em 1em;
    list-style-type: none;
}

.posts a {
    text-decoration: none;
    font-family: verdana, Helvetica, Arial, sans-serif;
    border-bottom: 1px #1e94d1 dashed;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  margin-bottom: 1.5em;
  padding-bottom: .5em;
}

.title a {
  color: #00b4cc;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 2px solid #1e94d1;
  padding-top: 1em;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px #1e94d1 dashed;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
    color: #27272b;
}

.post h1, h2, h3, h4, h5, h6 {
    color: #111;
    padding-bottom: .1em;
}

.post h4 {
    color: #363;
}

/* for block code */
.post pre, blockquote {
    padding: 0.5em;
    margin-bottom: 1em;
    border-width: 1px;
    border-color: #ccc;
    border-style: dashed;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    line-height: 1.3em;
    max-height: 500px;
    overflow: auto; 
}

.post pre {
    font-family: monaco;
}

.post code {
    border: 1px solid #ddd;
    border-radius: 5px;
    font: 13.34px monaco;
    background-color: rgb(244, 244, 244);
}

.post blockquote p {
    margin-bottom: 0;
}

/* used as <span class="code">xxx</span>, it provides the same
 * style as the <code>xxx</code>. Just in case you have html
 * tag with xxx, like S<sub>i</sub>, for which <code> can't
 * give expected result
 */
.post .code {
    border: 1px solid #ddd;
    border-radius: 5px;
    font: 13.34px monaco;
    background-color: rgb(244, 244, 244);
    padding: 0em .2em .2em .2em;
}

.post .code sub, sup {
    font-size: 10.5px;
}

.post p code {
    padding: 0em .2em .2em .2em;
}

.post li code {
    padding: 0em .2em .2em .2em;
}

.post pre code {
    border: none;
    padding: 0;
}

.post blockquote code {
    border: none;
    font: 14px Lucida, DejaVu Sans Mono, Arial, verdana, Helvetica, sans-serif;
    line-height: 1.5em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post ul {
    margin: 0 0 1em 1.4em;
    line-height: 120%;
}

.post ul p {
    margin-bottom: 0.6em; 
}

.post ol {
    margin: 0 0 1em 1.9em;
    line-height: 120%;
}

.post ol p {
    margin-bottom: 0.6em; 
}

.post .blkcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post .pcenter {
    text-align: center;
}

table {
    border-collapse:collapse;
    margin: 0.5em 0 0.5em 0;
}
table, th, td {
    border: 1px solid #999;
    padding: 2px 5px;
    font-weight: normal;
}
